body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-image: url("crunch-crunch-food.jpg");
  margin-bottom: 0px;
}

#get-food {
  margin-top: 10vh;
}

.foods  {
  height: 20vh;
  margin-top: 10vh;
  background-color: black;
  opacity: 0.9;
}

h2 {
  color: white;
  font-weight: bold;
  font-size: 4em;
}
